---
layout: default
---

<header class="post-header">
  {% if page.header_title %}
    <h1 class="post-title">{{ page.header_title }}</h1>
  {% elsif page.title %}
    <h1 class="post-title">{{ page.title }}</h1>
  {% endif %}
  {% if page.description %}
    <p class="post-description">{{ page.description }}</p>
  {% endif %}
</header>


<!-- page.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            {{ content }}
          </article>

        </div>
